In [12]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler, scale
from sklearn.neighbors import KNeighborsClassifier
#from sklearn.preprocessing import Imputer
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [13]:
df = pd.read_csv('CarBuyers.csv')

In [14]:
df

,Manufacturer,Model,Price,Transmission,Power,Engine CC,Fuel,Male,Female,Unknown,Total
0,Ford,Focus,30.619322,5.966102,94.033898,1497.169492,petrol,814172,422731,"56,487",1293390
1,Ford,Fiesta,18.532143,5.714286,68.571429,1166.142857,petrol,554879,631666,"54,057",1240602
2,Volkswagen,Golf,31.242154,6.164835,89.461538,1537.406593,petrol,483216,310604,"47,563",841383
3,Renault,Clio,22.100000,5.615385,75.576923,1219.653846,petrol,241287,312556,"28,004",581847
4,BMW,320i,47.848370,6.444444,126.111111,1995.777778,petrol,408016,115843,"29,125",552984
...,...,...,...,...,...,...,...,...,...,...,...
6087,Land-Rover,Defender,108.747195,7.853659,207.609756,2304.975610,diesel,"1,012",150,80,"1,242"
6088,Toyota,RAV4,43.548516,1.354839,137.774193,2261.193548,petrol,670,482,66,"1,218"
6089,Alfa-Romeo,Spider,55.200000,6.000000,163.500000,2696.500000,petrol,790,247,81,"1,118"
6090,Honda,Shuttle,30.081000,4.000000,110.000000,2254.000000,petrol,639,416,49,"1,104"
6091,Mitsubishi,Space,23.165158,3.947368,82.157895,1817.315789,petrol,721,251,40,"1,012"

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6092 entries, 0 to 6091
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Manufacturer  6092 non-null   object
 1   Model         6092 non-null   object
 2   Price         6092 non-null   float64
 3   Transmission  6092 non-null   float64
 4   Power         6092 non-null   float64
 5   Engine CC     6092 non-null   float64
 6   Fuel          6092 non-null   object
 7   Male          6092 non-null   object
 8   Female        6092 non-null   object
 9   Unknown       6092 non-null   object
 10  Total         6092 non-null   object
dtypes: float64(4), object(7)
memory usage: 523.7+ KB

In [16]:
X = df.iloc[:,2:6].values
y = df['Total']

In [7]:
X

array([[  30.61932203,    5.96610169,   94.03389831, 1497.169492  ],
       [  18.53214286,    5.71428571,   68.57142857, 1166.142857  ],
       [  31.24215385,    6.16483517,   89.46153846, 1537.406593  ],
       ...,
       [  55.2       ,    6.        ,  163.5       , 2696.5       ],
       [  30.081     ,    4.        ,  110.        , 2254.        ],
       [  23.16515789,    3.94736842,   82.15789474, 1817.315789  ]])

In [8]:
y

0       1293390
1       1240602
2        841383
3        581847
4        552984
         ...
6087      1,242
6088      1,218
6089      1,118
6090      1,104
6091      1,012
Name: Total, Length: 6092, dtype: object

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.4)

In [18]:
logreg = LogisticRegression()
knn = KNeighborsClassifier(n_neighbors=5)

In [19]:
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

C:\Users\Renan Lemes\OneDrive\Área de Trabalho\DALE_2\Blog\venv\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
print(y_pred)

['1,274' '1,782' '14,183' ... '1,282' '1,082' '1,138']

In [21]:
logreg.score(X_test, y_test)

0.0004103405826836274